{% extends 'base.html' %}

{% block content %}
<div class="container page-body">
<div class="col-md-2 col-md-offset-1" role="main">
    <ul class="list-group">
  <li class="list-group-item" style="color:darkmagenta">用户信息</li>
  <li class="list-group-item">错题本</li>
  <li class="list-group-item">收藏集</li>
  <li class="list-group-item">上传题目</li>
    
  <li class="list-group-item">
    <span class="badge">10</span>
    用户消息
  </li>
</ul>
</div>

    <div class="col-md-5 col-md-offset-3" role="main">
        <div>
            <form method="post" action="" target="nm_iframe" id="username">
                 <p>用户名: </p><input value="{{request.user.username}}" type="text" name="username">
                <button type="button" class="btn btn-default" onclick="change_username()">修改用户名</button><br />
                {% csrf_token %}
            </form>
            <button type="button" class="btn btn-default" onclick="change_password_1()">修改密码</button><br />
            <p>邮箱：{{request.user.email}}</p>
            <button type="button" class="btn btn-default" onclick="change_email_1()">修改邮箱</button>
            <p>{% if msg%}{{msg}}{% endif %}</p>
        </div>
       </div>

</div>
{% endblock %}

{% block js_block%}
            


<script>
    function change_username() {
        $.ajax({
            cache: false,
            type: "POST",
            url: "{% url 'changeusername' %}",
            data: $('#username').serialize(),
            async: true,     
            success: function (data) {
                if (data.res == 1) {
                    // 请求成功实现页面跳转
                    alert("失败");
                }
                else if (data.res == 2) {
                    // 请求失败，显示错误信息
                    alert("失败");
                }
                else if (data.res == 3) {
                    // 请求失败，显示错误信息
                    alert("成功");
                    location.reload();
                }
            },
                })

    };

    function change_password() {
        $.ajax({
            cache: false,
            type: "POST",
            url: "{% url 'changepassword' %}",
            data: $('#passwordform').serialize(),
            async: true,     
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
                
        success: function (data) {
                if (data.res == 1) {
                    // 请求成功实现页面跳转
                    alert("密码错误");
    location.reload();
                }
                else if (data.res == 2) {
                    // 请求失败，显示错误信息
                    alert("成功");
    location.reload();
                }
                else if (data.res == 3) {
                    // 请求失败，显示错误信息
                    alert("密码格式错误");
                    location.reload();
                }
            },
                })

    };

    function change_email() {
        $.ajax({
            cache: false,
            type: "POST",
            url: "{% url 'changeemail' %}",
            data: $('#changemailform').serialize(),
            async: true,     
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
                
        success: function (data) {
                if (data.res == 1) {
                    // 请求成功实现页面跳转
                    alert("邮箱已存在");
    location.reload();
                }
                else if (data.res == 2) {
                    // 请求失败，显示错误信息
                    alert("发送验证码失败");
    location.reload();
                }
                else if (data.res == 3) {
                    // 请求失败，显示错误信息
                    alert("已发送验证码");
                    location.reload();
                }
            },
                })

    };

	function change_password_1() {
        layer.open({
            type: 1, 
  title: '修改密码'
  ,content: "<form action='' method='post' id='passwordform'><p>原密码：<input type='password' name='password'/></p><p>新密码：<input type='password' name='password_1'/></p><p>确认新密码：<input type='password' name='password_2'/></p><div style='float: right;'><button type='button' class='btn btn-default' onclick='change_password()'>修改密码</button></div></form>"
});  
	};

    function change_email_1() {
        layer.open({
                    type: 1, 
  title: '修改密码'
  ,content: "<form action='' method='post' id='changemailform'><p>新邮箱：<input type='text' name='email'/></p><div style='float: right;'><button type='button' class='btn btn-default' onclick='change_email()'>修改邮箱</button></div></form>"
});  
	};
</script>
{% endblock %}