{% extends 'base.html' %}



{%block content%}

<div class="container page-body">
<div class="col-md-9 col-md-offset-2" role="main">
<form action="http://localhost:8000/testhouse/test/exam/{{random_token}}/" method="post">
    {% for i in exam %}
    {% ifequal forloop.counter0 0 %}
    <div name="a" id="a1" style="width:500px"><p>{{i.1}}</p>
    {% else%}
    <div name="a" id="a1" style="width:500px;display:none"><p>{{i.1}}</p>
        {%endifequal%}              
        {% if i.0 == '1' %}
            {% for j in i.4%}
                            <input type="radio" id="t{{forloop.parentloop.counter0}}"  name="t{{forloop.parentloop.counter0}}"  value="{{j.0}}"/>{{j.1}}<br />
            {% endfor%}
        {% elif i.0 == '2' %}
            {% for j in i.4%}
                            <input type="checkbox" id="t{{forloop.parentloop.counter0}}" name="t{{forloop.parentloop.counter0}}"  value="{{j.0}}"/>{{j.1}}<br />
            {% endfor%}
        {% elif i.0 == '3' %}
            {% for j in i.4%}
                            <input type="radio" id="t{{forloop.parentloop.counter0}}" name="t{{forloop.parentloop.counter0}}"  value="{{j.0}}"/>{{j.1}}<br />
            {% endfor%}
        {% elif i.0 == '4' %}
            {% for j in i.4%}
                            <input type="text" id="t{{forloop.parentloop.counter0}}" name="t{{forloop.parentloop.counter0}}"  value=""/><br />
            {% endfor%}
        {% endif %}
    <p></p>
    </div>
{% endfor %}
    

    <nav aria-label="Page navigation">
  <ul class="pagination">

      {% for i in exam%}
          {% ifequal forloop.counter0 0 %}
      <li name="tag" class="active"><a href="javascript:void(0);" id="but{{forloop.counter0}}"  onclick="h({{forloop.counter0}})">{{forloop.counter0|add:1}}</a></li>
      {% else %}
    <li name="tag"><a href="javascript:void(0);" id="but{{forloop.counter0}}"  onclick="h({{forloop.counter0}})">{{forloop.counter0|add:1}}</a></li>
      {%endifequal%}
      {% endfor %}

  </ul>
</nav>
                        <input type="submit" value="提交" />
                        {% csrf_token %}
                    </form>
    

</div>
            </div>
{% endblock %}


{% block js_block%}
       <script type="text/javascript">
            function h(idt){

                var x = document.getElementsByName("a");
                for(var i=0;i<x.length;i++) {
                    x[i].style.display = "none";
                }
                x[idt].style.display = "";

                var x = document.getElementsByName("tag");
                for (var i = 0; i < x.length; i++) {
                    var y = document.getElementsByName("t" + i);
                    for (var k = 0; k < y.length; k++) {
                        if ((y[k].checked==true & y[k].type!="text") || (y[k].value!= "" & y[k].type=="text")) {
                        var z = document.getElementById("but" + i);
                        z.style = "color:orange;";
                        break;
                    }
                    }

                    x[i].className = "";
                }
                x[idt].className = "active";
    }
    </script>

{% endblock %}

