{% extends 'base.html' %}

{%block content%}
   <div class="container page-body">
        <div class="col-md-9 col-md-offset-1" role="main">
            <div class="panel panel-default">
  <div class="panel-heading"><h2>试题选项：</h2></div>
  <div class="panel-body">
    <form action="{% url 'exam' %}" method="post">

            <select id="subject" onchange="change()" name="subject">
            <option value=""  selected hidden>--请选择知识方向--</option>
                <option value="">全选</option>
            {#<option value="all">all</option>#}
                {% for i in subject_list %}
            <option value="{{i.id}}">{{i.subject}}</option>
                {% endfor %}
            </select>

            <select id="point" name="point" >
            <option value=" "  selected hidden>--请选择知识点--</option>
            {#<option value="all">all</option>#}
            </select>

            <select id="nums" name="nums">
                <option value="5"  selected hidden>--请选择题数(默认为5)--</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            </select>
        {% if request.user.is_authenticated %}
            <select id="range_1" name="range_1">
                <option value="1"  selected hidden>--请选择题数(默认为 仅题库)--</option>
            <option value="1">仅题库</option>
            <option value="2">题库+提交</option>
            <option value="3">仅提交</option>
            </select>
        <br/>
                <p>
                    <input type="radio" name="range_2" value="1" id="range_2" {% if user_value == "1" or user_value == "" %}checked {% endif %}>全部
                    <input type="radio" name="range_2" value="2" id="range_2" {% if user_value == "2"  %}checked {% endif %}>仅新题
                    <input type="radio" name="range_2" value="3" id="range_2" {% if user_value == "3"  %}checked {% endif %}>仅错题
                    <input type="radio" name="range_2" value="4"id="range_2" {% if user_value == "4"  %}checked {% endif %}>仅收藏
                    <input type="radio" name="range_2" value="5"id="range_2" {% if user_value == "5"  %}checked {% endif %}>收藏+错题
                </p>
        {% else %}
            <select id="range_1" name="range_1">
                <option value="1"  selected hidden>--请选择题数(默认为 仅题库)--</option>
            <option value="1">仅题库</option>
            </select>
        <br/>
                <p>
                    <input type="radio" name="range_2" value="1" id="range_2" checked>全部
                </p>
        {% endif %}
        <div style='float: right;'>
             <input type="submit" value="开始答题">
            </div>
               {% csrf_token %}
            </form>
  </div>
</div>
                    <p>{% if msg %}{{msg}}{% endif %}</p>
            <h5><a href="{%url 'test_list' %}">题库入口</a></h5>
        </div>
       </div>
{% endblock%}

{% block js_block%}

<script>

    function change() {
        var subject = document.getElementById("subject").value;

      $.ajax({
        url: '/ajax/load_points/',
        data: {
          'subject': subject
        },
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var content = '';
            content += '<option value="" disabled selected hidden>--请选择知识点--</option>'
            content+='<option value='+''+'>'+'全选'+'</option>'
            $.each(data, function(i, item){
                  content+='<option value='+item.point+'>'+item.point+'</option>'
                });
            $('#point').html(content)
        },

      });
    }
  </script>
{% endblock %}